$dark-4: #1E2124;
$dark-3: #282B30;
$dark-2: #36393E;
$dark-1: #424549;
$red: #da7272;
$green: #87da72;
$blue: #72abda;

$header-height: 50px;
$footer-height: 50px;

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    background-color: $dark-3;
}

header {
    height: $header-height;
    background-color: $dark-4;
    display: flex;
    align-items: center;
    justify-content: left;

    color: white;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

main {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#main-content {
    flex-grow: 1;
    height: calc(100vh - #{$header-height} - #{$footer-height});
    background-color: $dark-2;
    overflow: scroll;
    border-radius: 15px 0 0 0;

    display: flex;
    justify-content: center;
}

.main-container {
    padding: 40px;
    width: 100%;
    max-width: 700px;
}

#category-title {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

#category-message {
    margin-top: 20px;
    margin-bottom: -30px;
    color: white;
}

#category-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    // gap: 10px;
    flex-direction: column;
}

#btn-add-task {
    background: $dark-2;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    color: white;
    margin-top: 20px;

    &:hover {
        background-color: lighten($dark-2, 5%);
        cursor: pointer;
    }
}

#btn-add-task:hover i {
    color: $green;
}

.btn-task .fa-trash-can:hover {
    transition-duration: 0.2s;
    color: $red;
}

.btn-task .fa-pen-to-square:hover {
    transition-duration: 0.2s;
    color: $blue;
}

.btn-task {
    // background-color: $dark-1;
    background: none;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    // height: 50px;
    height: 40px;

    display: flex;
    align-items: center;

    &:hover {
        background-color: lighten($dark-1, 5%)
    }
}

.btn-task-starred {
    border: 1px gold solid;
}

#sidebar {
    background-color: $dark-3;
    width: 250px;
    height: calc(100vh - #{$header-height} - #{$footer-height});
    overflow: hidden;
    color: white;
}

.side-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 13px;
}

.side-category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.btn-side {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: $dark-3;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;

    &:hover {
        background-color: lighten($dark-3, 5%)
    }
}

.btn-side-selected {
    background-color: $dark-2;
    font-weight: bold;
    &:hover {
        background-color: lighten($dark-2, 5%);
    }
}

.btn-side-icon {
    margin: 10px 12px 10px 15px;
}

footer {
    height: $footer-height;
    background-color: $dark-4;
    color: white;
    font-family: monospace;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    border-radius: 1rem;
    background-color: red;
}