:root {
    --dark-4: #1E2124;
    --dark-3: #282B30;
    --dark-2: #36393E;
    --dark-1: #424549;
    
    --red: #da7272;
    --green: #87da72;

    --header-height: 75px;
    --footer-height: 50px;
}

body {
    margin: 0;
}

header {
    height: var(--header-height);
    background-color: var(--dark-4);
    display: flex;
    align-items: center;
}

main {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#main-content {
    flex-grow: 1;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--dark-2);
}

#sidebar {
    background-color: var(--dark-3);
    width: 250px;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow: hidden;
    color: white;
}

.side-category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.btn-side {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: var(--dark-2);
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
}

.btn-side:hover {
    background-color: var(--dark-1);
}

footer {
    height: var(--footer-height);
    background-color: var(--dark-4);
    color: white;
    font-family: monospace;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}